<b>Zip Code </b> ...

<p>City: {{zip.city}}, State: {{zip.state}}, Population: 
{{zip.pop}}</p>


<a href="/city?city={{zip.city}}&state={{zip.state}}">Click here for all Zip codes for {{zip.city}}, {{zip.state}}</a>

