<h1>{{title}}</h1>

<table>
    {{#if data}}
		<tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price(per lb)</th>
            <th>Quantity in stock</th>
            <th>Actions</th>
			<th></th>
		</tr>
	{{else}}
			<tr><td colspan="3">No Products found ... Add One!</td></tr>
	{{/if}}
    {{#each data}}
        <tr class="main_rows">
            <td>{{this.product}}</td>
            <td>{{this.description}}</td>
            <td>${{formatPrice this.price}}</td>
            <td>{{this.quantity}}</td>
             <td>
                <a href="/admin/edit/{{this.id}}">Edit</a> | 
							  <a href="/admin/delete/{{this.id}}">Delete</a>
            </td>
        </tr>
        {{/each}}
</table>
<br>
<h1>Add a Product to the stock</h1>
	<button class="btn btn-primary" onClick="addProduct()">Add</button>  

  <h1>View customer orders</h1>
<a class="btn btn-primary" href="/admin/orders">View Orders</a>
