
<h1>{{title}}</h1>
<input type="text" id="searchInput">
<button onclick="searchFunction()">Search</button>
<table id="productTable">
    {{#if data}}
    <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price(per lb)</th>
            <th>Quantity in cart</th>
            <th>Actions</th>
            <th>Available in Stock</th>
      <th></th>
    </tr>
  {{else}}
      <tr><td colspan="3">No Products found ... Add One!</td></tr>
  {{/if}}
    {{#each data}}
        <tr class="main_rows">
            <td>{{this.product}}</td>
            <td>{{this.description}}</td>
            <td>${{formatPrice this.price}}</td>
            <td>0</td>
             <td>
               <button class="btn btn-primary" 
                onClick="addToCart(event, {{formatPrice this.price}},{{this.quantity}},'{{this.id}}')">+</button>

                <button class="btn btn-primary" 
            onClick="removeFromCart(event, {{formatPrice this.price}},{{this.quantity}},'{{this.id}}')">-</button>
            </td>
            <td id="stock">{{this.quantity}}
            </td> 
            <td style="display:none;">{{this.id}}</td>
            {{!-- <input type="hidden" name="id" id="productID" value={{this.id}}> --}}
        </tr>
    {{/each}}
    <br>
    <span style="display:inline-block;">
      <p style="display:inline-block;">Total: $</p>
      <div id="totalMoney" class="total_money" style="display:inline-block;">0.00</div>
     </span>
  </table>
<br>

<button class="btn btn-primary customer-page" onClick="checkout()">Checkout</button>
{{!-- <button class="btn btn-primary" onClick="checkOut('{{this.id}}', '{{this.product}}', '{{formatPrice this.price}}', '{{this.quantity}}', document.getElementById('totalMoney').innerHTML)">Checkout</button> --}}
<button class="btn btn-primary" onClick="cancelCheckout()">Cancel</button>


